@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Domine", serif;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

/* Header Styles */
.portal-header {
  background-color: #008080;
  color: white;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.portal-header h1 {
  font-family: "Righteous", sans-serif;
  align-self: center;
}

/* Main Container */
.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

/* Left Column */
.left-column {
  width: 30%;
  min-width: 300px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #ede4e4;
}

/* Left Column Header */
.search-section {
    background-color: white;
    display: flex;
    flex-direction: space-between;
    padding: 1rem;
    padding-right: 30%;
    border-bottom: 1px solid #aba3a3;
  }
  
  .new-question-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
  }
  
  .search-input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

/* Left Column Body */
.questions-list {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .question-item {
    padding: 1rem;
    border-bottom: 1px solid #aba3a3;
    cursor: pointer;
  }
  
  .question-item:hover {
    background-color: #b5cde5;
  }
  
  .question-item.active {
    background-color: #b5cde5;
    color: rgb(0, 0, 0);
  }

/* Right cloumn */
.right-column {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #fff;
  }

/* right content  */
.right-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

